.tw-follow-card {
    /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}

.tw-follow-card-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-follow-card-info {
    display: flex;
    flex-direction: column;
}

.tw-follow-card-infoUserName {
    opacity: .6;
}

.tw-follow-card-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-follow-card-button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
}

.tw-follow-card-button:hover {
    cursor: pointer;
    opacity: .9;
    transition: .1s ease all;
}

.tw-follow-card-button.is-following {
    cursor: pointer;
    background-color: transparent;
    color: rgb(245, 241, 241);
    border: 2px solid rgb(204, 204, 204);
    width: 8.25rem;
}

.tw-follow-card-button.is-following:hover {
    cursor: pointer;
    background-color: rgb(139, 4, 4, .8);
    color: red;
    border: 2px solid red;
}

.tw-follow-card-button.is-following:hover .tw-follow-card-buttonText{
    display: none;
}

.tw-follow-card-button.is-following:hover .tw-follow-card-unfollow{
    display: block;
    font-size:small;
}

.tw-follow-card-unfollow {
    display: none;
}

